name: app-service
on:
  push:
    branches: [ main ]
    paths-ignore:
      - Proxy/**

concurrency:
  group: environment-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: false

env:
  # must match app service resource name in tf
  AZURE_WEBAPP_NAME: weather-api-app-service
  AZURE_WEBAPP_PACKAGE_PATH: 'WeatherApi'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Dotnet 6.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: dotnet build and publish
      run: |
        dotnet restore
        dotnet build --configuration Release
        dotnet publish -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/weather-api'

    # Deploy to Azure Web apps
    - name: Run Azure webapp deploy
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/weather-api'

    - name: logout
      run: |
        az logout
