name: proxy
on:
  push:
    branches: [ main ]
    paths:
      - Proxy/**
      - .github/workflows/proxy.yml

concurrency:
  group: environment-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: false

env:
  # must match resource name in tf
  AZURE_FUNCTION_PROXY: 'weather-api-fa'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'Run Azure Functions deploy for proxy'
      uses: azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTION_PROXY }}
        package: './API'

    - name: logout
      run: |
        az logout
